.plugin-page-wrapper {
  display: flex;
  flex-direction: column;
  padding-inline: 50px
}

.page-title {
  font-weight: 300;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

.disable {
  opacity: 0.4;
  pointer-events: none;
}